* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background: white;
    padding: 10px 100px;
    position: relative;
    border-radius: 80px;
    bottom: -15px;
    z-index: 1000;
}

.logo img {
width: 200px;
height: 60px;
background-color: white;
margin-bottom: -5px;
}

.nav-bar ul {
display: flex;
}

.nav-bar ul li a {
text-decoration: none;
color: black;
font-size: 15px;
font-weight: bold;
padding: 10px 25px;
border-radius: 50px;
background-color: white;
}

.boton-ccuenta {
width: 150px;
border-radius: 8px;
margin-right: 10px;
padding: 10px 15px;
background-color: black;
}

.boton-ccuenta,
.inicio-sesion {
display: inline-block;
font-weight: 700;
text-align: center;
text-decoration: none;
color: white;
}

.crea-sesion {
background-color: white;
}

.inicio-sesion {
margin-right: 10px;
color: black;
font-weight: bold; 
background-color: white; 
}


.bx {
background-color: white;
}

.icono-tienda {
background-color: white;
text-decoration: none;
font-size: 40px;
width: 40px; 
height: 40px; 
position: absolute;
right: 50px;
top: 20px;
}

.icono-tienda a {
color: black;
background-color: white;
}





.imagen-fondo {
    margin: 0;
    padding: 0;
    background-image: url(../recursos/portafolio\ 1.1.webp);
    background-size: cover;
    width: 100vw;
    height: 80vh;
    background-position: left;
    background-repeat: no-repeat;
}
.title {
    position: absolute;
    justify-content: center;
    margin-top: 35vh;
    color: #fff;
    width: 100%;

}
.title h2 {
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 80px;
}


.contenedor {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    margin-left: 2em;
    margin-top: 2em;
}

.about-section {
    width: 55%;
    border-radius: 8px;
    font-size: 16px;
}

.img__container {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; 
}

.parrafo-1 {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-between;
}

.img__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 4em;

}

.info-title1 {
    font-family:"Jockey One", sans-serif;
    font-size: 65px;
    color: black;
    margin-top: 0;
}

.info-title2 {
    font-family:"Jockey One", sans-serif;
    font-size: 65px;
    color: black;
}

.info-title3 {
    font-family:"Jockey One", sans-serif;
    font-size: 65px;
    color: #31A44B;
    margin-bottom: 0;
}

.info-title1, .info-title2, .info-title3 {
    margin-bottom: 0; 
    line-height: 1;
}

.info-p {
    flex-basis: 50%;
    font-family:"Jockey One", sans-serif;
    font-size: 30px;
    font-weight: 200;
    padding-left: 2em;
    justify-content: flex-end;
    margin-top: 1.5em;
}

.title-medio {
    font-family:"Jockey One", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000000;
    margin-top: 2em;
}

/*SLIDER INFINITO FINAL*/


.slider-final {
    overflow: hidden;
    margin-top: 4em;
  }
  
  .slider {
    display: flex;
    width: calc(100% * 7);
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% / 7 * (7 - visible en pantalla))); }
  }
  
  /* Estilos de las tarjetas */
  .slide {
    width: 100% / 7;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    margin: 2em;
  }

  .slide p {
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 35px;
    text-align: center;
    font-family:"Jockey One", sans-serif;

  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
/* BOTON INFORMACION */

  .boton-descubre {
    display: flex;
    background-color: black;
    border-radius: 50px;
    margin-left: 44em;
    margin-top: 5em;
    margin-bottom: 4em;
    overflow: hidden;
    transform: transform 0.3s ease-in-out;
}

.boton-descubre a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 2vh;
    display: block;
    transition: 0.3s ease-in-out;
}

.boton-descubre:hover {
    transform: scale(1.08);
}


















/* FOOTER */
.footer {
    margin: 0;
    padding: 0;
    background: #404040;
}
.footer:hover {
    background-color: #31A44B;
}
.container__footer {
    display: flex;
    flex-direction: block;
}

.footer__logos {
    margin-top: 2em;
    margin-left: 2em;
    align-items: center;

}

.footer__ferticom {
    margin-top: 1px;
    width: 210px;
    height: 70px;
}

.footer__redes {
    text-align: center;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    display: block;
}

.icons {
    width: 40px;
    padding: 5px;
    margin: 0 2px;
}

.footer__menu {
    display: flex;
    flex-direction: row;
}

.footer__vinculos__i,
.footer__vinculos {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer__vinculos__i {
    border-right: 3px solid #2E2E2E;
}

.v__Ayuda,
.v__mercado,
.v__Eventos,
.vi__mercado,
.vin__mercado,
.vi__Ayuda {
    color: #fff;
    margin-right: 6em;
    margin-left: 6em;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
}

.v__Ayuda,
.v__mercado,
.v__Eventos {
    margin-top: 0.8em;
    font-weight: 600;
}

.footer__copyright {
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 15px;
}