* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;
        background: white;
        padding: 10px 100px;
        position: relative;
        border-radius: 80px;
        bottom: -15px;
        z-index: 1000;
    }

.logo img {
    width: 200px;
    height: 60px;
    background-color: white;
    margin-bottom: -5px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: white;
}

.boton-ccuenta {
    width: 150px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: black;
}

.boton-ccuenta,
.inicio-sesion {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: white;
}

.crea-sesion {
    background-color: white;
}

.inicio-sesion {
    margin-right: 10px;
    color: black;
    font-weight: bold; 
    background-color: white; 
}


.bx {
    background-color: white;
}

.icono-tienda {
    background-color: white;
    text-decoration: none;
    font-size: 40px;
    width: 40px; 
    height: 40px; 
    position: absolute;
    right: 50px;
    top: 20px;
}

.icono-tienda a {
    color: black;
    background-color: white;
}


/* SLIDER INICIO */


.sliderinicio {
    width: 100%;
    /* width: auto; */
    height: 80vh;
    /* margin: 50px auto 0; */
    overflow: hidden;
    position: relative;
    margin-top: -7%;
    z-index: 1;
}

.sliderinicio ul {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.sliderinicio ul li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.sliderinicio ul li {
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.sliderinicio ul li:first-child {
    opacity: 1;
}

/* .sliderinicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.slider-text {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    font-family: "Anton", sans-serif;

}


/* MAIN */

.main-titulo {
    color: #31A44B;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 2em;
    font-family: "Anton", sans-serif;
    font-style: normal;  
}


.main-sub {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: 8em;
    margin-right: 8em;
    /* margin-top: 2em; */
    margin-bottom: 10em;
}


.imagenes-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 60em; 
    height: 60em;
    margin: auto; 
    overflow: hidden;
}

.imagenes-inicio img {
    max-width: 60em; 
    max-height: 50%; 
    position: absolute;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
}

.img1 {
    top: 2em;
    left: 2em; 
    width: 60em;
    z-index: 1; 
}


.img2 {
    top: 34em; 
    left: 2em;
    z-index: 2; 
}

.img3 {
    top: 34em; 
    left: 33em;
    z-index: 3; 
}

/* .imagenes-inicio .img1, 
.imagenes-inicio .img2, 
.imagenes-inicio .img3 {
    transition: transform 0.5s ease-in-out; 
    transform: scale(1); 
}

.imagenes-inicio .img1:hover, 
.imagenes-inicio .img2:hover, 
.imagenes-inicio .img3:hover {
    transform: scale(1.1); 
} */


.main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

/* animacion texto  */

@keyframes slideInFromLeft {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-text {
      animation: slideInFromLeft 0.7s ease-out forwards;
  }
  
  

.text-1, .text-2, .text-3, .text-4 {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.text-1, .text-2 {
    margin-left: 11em;
}

.text-3, .text-4 {
    margin-right: 9em; 
}


.boton-descubre {
    display: flex;
    background-color: black;
    border-radius: 50px;
    margin-left: 44em;
    margin-top: 5em;
    overflow: hidden;
    transform: transform 0.3s ease-in-out;
}

.boton-descubre a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 2vh;
    display: block;
    transition: 0.3s ease-in-out;
}

.boton-descubre:hover {
    transform: scale(1.08);
}

.main-end {
    color: #31A44B;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-style: normal;
    margin-top: 2em;
}


.parallax-section {
    height: 120vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* VIDEO CORPORATIVO */


.video-container {
    position: relative;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    top: 3em;
}

video#promo-video {
    width: 100%;
    height: auto;
}

.video-duration {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

.video-button {
    position: absolute;
    background-color: black;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    bottom: 1%;
    left: 0;
    transform: translateY(-50%, -50%);
    padding: 10px 20px;
}


.linea-inicio {
    height: 4px; 
    width: 80%;
    background-color: #31A44B; 
    margin-top: 8em;
    margin-left: 10%;
}

/* SLIDER FINAL INICION VERTICAL */


.slider-vertical {
    width: 25%;
    height: 30em; 
    left: 10%;
    position: relative;
    overflow: hidden;
    margin-bottom: 7%;
    margin-top: 5%;
  }
  
  .slider-vertical ul {
    width: 100%;
    height: 40em;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slider-vertical ul li img {
    width: 100%;
    height: 30em;
    object-fit: cover;
}
  
  .slider-vertical ul li {
    position: absolute;
    width: 100%;
    height: 20em;
    transition: top 1s ease-in-out;
    list-style-type: none;
  }

  .slider-vertical ul li:first-child {
    right: 0;
    top: 0;
}

.content-inicio11 {
    width: 65%;  
    display: flex;
    right: 40%;
    align-items: center;
    justify-content: start;
    padding: 0 40px;
}

.descripcion-final {
    color: black;
    /* flex-basis: 50%; */
    font-size: 23px;
    margin-left: 2em;
    font-weight: bold;
    padding-left: 1em;
    justify-content: flex-end;
}

.inicio-final-original {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}



















































/* FOOTER */
.footer {
    margin: 0;
    padding: 0;
    background: #404040;
}
.container__footer {
    margin-left: 5.5em;
    display: flex;
    flex-direction: block;
}

.footer__logos {
    margin-top: 2em;
    margin-left: 2em;
    align-items: center;
}

.footer__ferticom {
    margin-top: 1px;
    width: 210px;
    height: 70px;
}

.footer__redes {
    text-align: center;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    display: block;
}

.icons {
    width: 40px;
    padding: 5px;
    margin: 0 2px;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content:right;
}

.footer__vinculos__i,
.footer__vinculos {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer__vinculos__i {
    border-right: 3px solid #2E2E2E;
}

.v__Ayuda,
.v__mercado,
.v__Eventos,
.vi__mercado,
.vin__mercado,
.vi__Ayuda {
    color: #fff;
    margin-right: 6em;
    margin-left: 6em;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
}

.v__Ayuda,
.v__mercado,
.v__Eventos {
    margin-top: 0.8em;
    font-weight: 600;
}

.footer__copyright {
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 15px;
}
