* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background: white;
    padding: 10px 100px;
    position: relative;
    border-radius: 80px;
}

.logo img {
    width: 200px;
    height: 60px;
    background-color: white;
    margin-bottom: -5px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: white;
}

.boton-ccuenta {
    width: 150px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: black;
}

.boton-ccuenta,
.inicio-sesion {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: white;
}

.crea-sesion {
    background-color: white;
}

.inicio-sesion {
    margin-right: 10px;
    color: black;
    font-weight: bold; 
    background-color: white; 
}


.bx {
    background-color: white;
}

.icono-tienda {
    background-color: white;
    text-decoration: none;
    font-size: 40px;
    width: 40px; 
    height: 40px; 
    position: absolute;
    right: 50px;
    top: 20px;
}

.icono-tienda a {
    color: black;
    background-color: white;
}

/* BODY */
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 2em;
}
.info{
    width: 55%;
    border: 2px solid #000;
    border-radius: 8px;
}
img{
    width: 570px;
    margin-right: 2em;

}
.info__title{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: #31A44B;
    margin: 20px;
}
.info__p{
    font-size: 30px; 
    font-weight: 500;
    margin: 1em;
    margin-bottom: 0.4em;
    text-align: justify;
}
.bx-history{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logros,
.vision,
.mision{
    margin-bottom: 2em;
    margin-top:2em ;
    display: flex;
    flex-direction: row;
    background-color: #23231F;
    height: 200px;
    align-items: center;
    justify-content: center;
    width: 410px;
    border-radius: 8px;
}   

.bx-icon{
    width: 130px;
}

.bx-text{
    font-size: 35px;
    color: #fff;
}
/* FOOTER */
.footer{
    margin: 0;
    padding: 0;
    background:#404040;
}
.container{
    display: flex;
    flex-direction: block;
}
.footer__logos{
    margin-top: 2em;
    margin-left: 2em;
    align-items: center;
    
}
.footer__ferticom{
    margin-top: 1px;
    width: 210px;
    height: 70px;
}
.footer__redes{
    text-align: center;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    display: block;
}
.icons{
    width: 40px;
    padding: 5px;
    margin: 0 2px;
}

.footer__menu{
    display: flex;
    flex-direction: row;
}
.footer__vinculos__i,
.footer__vinculos{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer__vinculos__i{
    border-right: 3px solid #2E2E2E;
    
}
.v__Ayuda,
.v__mercado,
.v__Eventos,
.vi__mercado,
.vin__mercado,
.vi__Ayuda{
    color: #fff;
    margin-right: 6em;
    margin-left: 6em;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
}   
.v__Ayuda,
.v__mercado,
.v__Eventos{
    margin-top: 0.8em;
    font-weight: 600;
    
}
.footer__copyright{
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 15px;
}


    
