.footer{
    margin: 0;
    padding: 0;
    background:#404040;
}
.container{
    display: flex;
    flex-direction: row;
}
.footer__logos{
    margin: 20px;
    align-items: center;
}
.footer__ferticom{
    margin-top: 6px;
    width: 210px;
    height: 70px;
}
.footer__redes{
    width: 210px;
    height: 70px;
    text-align: center;
}
.icons{
    width: 35px;
    padding: 5px;
}
.footer__menu{
    display: flex;
    flex-direction: row;
}
.footer__vinculos{
    display: flex;
    flex-direction: column;
}
.v__Ayuda,
.v__mercado,
.v__Eventos,
.vi__mercado,
.vin__mercado,
.vi__Ayuda{
    color: #fff;
    margin-right: 6em;
    margin-left: 6em;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
}   
.v__Ayuda,
.v__mercado,
.v__Eventos{
    margin-top: 2em;
    font-weight: 600;
    
}
.footer__copyright{
    text-align: center;
    color: #fff;
    padding-bottom: 1em;
    font-size: 15px;
}