.footer{
    margin: 0;
    padding: 0;
    background:#404040;
}
.container{
    display: flex;
    flex-direction: block;
}
.footer__logos{
    margin-top: 2em;
    margin-left: 2em;
    align-items: center;
    
}
.footer__ferticom{
    margin-top: 1px;
    width: 210px;
    height: 70px;
}
.footer__redes{
    text-align: center;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    display: block;
}
.icons{
    width: 35px;
    padding: 5px;
    margin: 0 2px;
}

.footer__menu{
    display: flex;
    flex-direction: row;
}
.footer__vinculos__i,
.footer__vinculos{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer__vinculos__i{
    border-right: 3px solid #2E2E2E;
    
}
.v__Ayuda,
.v__mercado,
.v__Eventos,
.vi__mercado,
.vin__mercado,
.vi__Ayuda{
    color: #fff;
    margin-right: 6em;
    margin-left: 6em;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
}   
.v__Ayuda,
.v__mercado,
.v__Eventos{
    margin-top: 0.8em;
    font-weight: 600;
    
}
.footer__copyright{
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 15px;
}   